.menu-bar{
    -fx-background-color: transparent;
}

.menu-bar .label {

    -fx-font-size: 17.0 pt;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 5.0,4.0,3.0,5.0;
    -fx-background-insets: 0.0,1.0,2.0,0.0;
}


.menu:hover {
    -fx-background-color: transparent;
}

.menu-item .label{
    -fx-font-size: 15.0 pt;
    -fx-background-color: transparent;
    -fx-label-line-length: 8.0;
    -fx-text-fill: #000000;
}